.root {
  display: flex;
  justify-content: center;
  gap: 20px;

  li {
    a {
      display: inline-block;
      text-align: center;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border: 1px solid #fe5f1e;
      border-radius: 50%;
      cursor: pointer;

      color: #fe5f1e;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
