.root {
  position: relative;
}

.icon_search {
  width: 25px;
  height: 25px;
  opacity: 0.3;
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon_clear {
  width: 25px;
  height: 25px;
  opacity: 0.5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  padding-left: 40px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}
